.container {
    display: flex;
    justify-content: space-between;
}

img {
    width: 50px;
}

.btn-container {
    display: flex;
    height: 30px;
}

.btn-item {
    border: 1px solid;
    font-size: 0.75rem;
    padding: 7px;
    margin-left: 5px;
}