.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 2%;

}

.item-title {
    align-self: flex-start;
}

.item-btn button {
    float: right;
    width: 50%;
}


.form-container {
    display: flex;
    padding-top: 5%;
}

img {
    margin-right: 35px;
}

input {
    max-width: 90px;
}

select {
    min-width: 60px;
}

.result-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    width: 100%;
}

.result-item-currency {
    border: 1px solid;
    font-size: 11px;
    padding: 6px;
}

.result-item-result {
    border: 1px solid;
    font-size: 11px;
    padding: 6px;
}


.result-item-currency span {
    motion: 10px;
}

.result-item-currency span {
    margin: 10px;
}