/* You can add global styles to this file, and also import other style files */
body {
    background-color: #2A2A2A;
    color: white
}

select {
    background-color: #6C767D;
    border-radius: 4px;
}

input {
    background-color: #2A2A2A;
    color: white;
    text-align: center;
    border-radius: 4px;
}

button {
    background-color: #0057D8;
    border-radius: 4px;
}